/*
  Uso de una variable en SASS:
  DO:
  $nombre-variable;

  DONT:
  $UpperCase
  $camelCase
  $snake_case
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.dark {
  background-color: #2E3440;
  color: #ECEFF4; }

.light {
  background-color: #ECEFF4;
  color: #2E3440; }

/*
Herencia de estilos en bloque
*/
.container {
  display: flex;
  flex-direction: row; }

.container__button {
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  background-color: transparent;
  display: block;
  font-size: 1rem; }

/*
Nesting o anidamiento de estilos
*/
.container {
  align-items: center;
  padding: 1rem 2.5rem;
  gap: 1rem;
  background-color: yellow;
  box-shadow: 5px 5px 5px yellow;
  padding: 5rem;
  border: 1px solid yellow; }
  .container__counter {
    font-size: 1.5rem;
    color: #88C0D0;
    font-weight: 700; }
  .container__button {
    color: black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    background-color: #88C0D0; }
